USE [master]
GO
/****** Object:  Database [PizzeriaDaLuigi]    Script Date: 10/8/2021 3:10:25 PM ******/
CREATE DATABASE [PizzeriaDaLuigi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PizzeriaDaLuigi', FILENAME = N'C:\Users\naima.el.khattabi\PizzeriaDaLuigi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PizzeriaDaLuigi_log', FILENAME = N'C:\Users\naima.el.khattabi\PizzeriaDaLuigi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PizzeriaDaLuigi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PizzeriaDaLuigi]
GO
USE [PizzeriaDaLuigi]
GO
/****** Object:  UserDefinedFunction [dbo].[NumeroIngredientiPizza]    Script Date: 10/8/2021 3:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[NumeroIngredientiPizza](@NomePizza VARCHAR(20))
RETURNS INT
AS
BEGIN
DECLARE @NumeroIngredienti INT
SELECT @NumeroIngredienti = COUNT(*)
FROM Ingrediente i
WHERE i.CodIngrediente IN (SELECT c.CodIngrediente
						   FROM Composizione c
						   JOIN Pizza p ON p.CodPizza = c.CodPizza
						   WHERE p.Nome = @NomePizza)

RETURN @NumeroIngredienti
END
GO
/****** Object:  UserDefinedFunction [dbo].[NumeroPizzeContenentiIngrediente]    Script Date: 10/8/2021 3:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[NumeroPizzeContenentiIngrediente](@NomeIngrediente VARCHAR(20))
RETURNS INT
AS
BEGIN
DECLARE @NumeroPizze INT

SELECT @NumeroPizze = COUNT(*)
FROM Pizza p
JOIN Composizione c ON c.CodPizza = p.CodPizza
JOIN Ingrediente i ON c.CodIngrediente = i.CodIngrediente
WHERE i.Nome = @NomeIngrediente

RETURN @NumeroPizze
END
GO
/****** Object:  UserDefinedFunction [dbo].[NumeroPizzeNonContenentiIngrediente]    Script Date: 10/8/2021 3:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[NumeroPizzeNonContenentiIngrediente](@NomeIngrediente VARCHAR(20))
RETURNS INT
AS
BEGIN
DECLARE @NumeroPizze INT

SELECT @NumeroPizze = COUNT(*)
FROM Pizza p
WHERE p.Nome NOT IN (SELECT p.Nome
								FROM Pizza p 
								JOIN Composizione c ON p.CodPizza = c.CodPizza
								JOIN Ingrediente i ON c.CodIngrediente = i.CodIngrediente
								WHERE i.Nome = @NomeIngrediente)

RETURN @NumeroPizze
END
GO
/****** Object:  UserDefinedFunction [dbo].[Scontrino]    Script Date: 10/8/2021 3:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Scontrino](@IdOrdine INT)
RETURNS DECIMAL(6,2)

AS
BEGIN
	DECLARE @Totale DECIMAL(6,2)
	SELECT @Totale = o.Totale
	FROM Ordine o
	WHERE o.IdOrdine = @IdOrdine

	RETURN @Totale
END
GO
/****** Object:  Table [dbo].[Pizza]    Script Date: 10/8/2021 3:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pizza](
	[CodPizza] [varchar](10) NOT NULL,
	[Nome] [varchar](20) NOT NULL,
	[Prezzo] [decimal](6, 2) NOT NULL,
 CONSTRAINT [Pk_Pizza] PRIMARY KEY CLUSTERED 
(
	[CodPizza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingrediente]    Script Date: 10/8/2021 3:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingrediente](
	[CodIngrediente] [varchar](10) NOT NULL,
	[Nome] [varchar](20) NOT NULL,
	[Costo] [decimal](6, 2) NOT NULL,
	[Scorte] [int] NOT NULL,
 CONSTRAINT [Pk_Ingrediente] PRIMARY KEY CLUSTERED 
(
	[CodIngrediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Composizione]    Script Date: 10/8/2021 3:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Composizione](
	[CodPizza] [varchar](10) NOT NULL,
	[CodIngrediente] [varchar](10) NOT NULL,
 CONSTRAINT [Pk_Composizione] PRIMARY KEY CLUSTERED 
(
	[CodPizza] ASC,
	[CodIngrediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Menù]    Script Date: 10/8/2021 3:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Menù](Pizza,Prezzo,Ingrediente)
AS (
		SELECT p.Nome, p.Prezzo,i.Nome
		FROM Pizza p
		JOIN Composizione c ON p.CodPizza = c.CodPizza
		JOIN Ingrediente i ON c.CodIngrediente = i.CodIngrediente
    )
GO
/****** Object:  UserDefinedFunction [dbo].[ListinoPizze]    Script Date: 10/8/2021 3:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ListinoPizze]()
RETURNS TABLE
AS
RETURN 
SELECT p.Nome,p.Prezzo
FROM Pizza p
GO
/****** Object:  UserDefinedFunction [dbo].[ListinoPizzeConIngrediente]    Script Date: 10/8/2021 3:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ListinoPizzeConIngrediente](@NomeIngrediente VARCHAR(20))
RETURNS TABLE
AS
RETURN 
SELECT p.Nome,p.Prezzo
FROM Pizza p
JOIN Composizione c ON c.CodPizza = p.CodPizza
JOIN Ingrediente i ON c.CodIngrediente = i.CodIngrediente
WHERE i.Nome = @NomeIngrediente
GO
/****** Object:  UserDefinedFunction [dbo].[ListinoPizzeSenzaIngrediente]    Script Date: 10/8/2021 3:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ListinoPizzeSenzaIngrediente](@NomeIngrediente VARCHAR(20))
RETURNS TABLE
AS
RETURN 
SELECT DISTINCT p.Nome,p.Prezzo
FROM Pizza p 
WHERE p.Nome NOT IN (SELECT p.Nome
								FROM Pizza p 
								JOIN Composizione c ON p.CodPizza = c.CodPizza
								JOIN Ingrediente i ON c.CodIngrediente = i.CodIngrediente
								WHERE i.Nome = @NomeIngrediente)
GO
/****** Object:  Table [dbo].[Ordine]    Script Date: 10/8/2021 3:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordine](
	[IdOrdine] [int] IDENTITY(1,1) NOT NULL,
	[Totale] [decimal](6, 2) NOT NULL,
 CONSTRAINT [Pk_Ordine] PRIMARY KEY CLUSTERED 
(
	[IdOrdine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PizzaOrdine]    Script Date: 10/8/2021 3:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PizzaOrdine](
	[CodPizza] [varchar](10) NOT NULL,
	[IdOrdine] [int] NOT NULL,
	[Quantità] [int] NOT NULL,
	[SubTotale] [decimal](6, 2) NOT NULL,
 CONSTRAINT [Pk_PizzaOrdine] PRIMARY KEY CLUSTERED 
(
	[CodPizza] ASC,
	[IdOrdine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Composizione]  WITH CHECK ADD  CONSTRAINT [Fk_Ingrediente] FOREIGN KEY([CodIngrediente])
REFERENCES [dbo].[Ingrediente] ([CodIngrediente])
GO
ALTER TABLE [dbo].[Composizione] CHECK CONSTRAINT [Fk_Ingrediente]
GO
ALTER TABLE [dbo].[Composizione]  WITH CHECK ADD  CONSTRAINT [Fk_Pizza] FOREIGN KEY([CodPizza])
REFERENCES [dbo].[Pizza] ([CodPizza])
GO
ALTER TABLE [dbo].[Composizione] CHECK CONSTRAINT [Fk_Pizza]
GO
ALTER TABLE [dbo].[PizzaOrdine]  WITH CHECK ADD  CONSTRAINT [Fk_PizzaOrdineO] FOREIGN KEY([IdOrdine])
REFERENCES [dbo].[Ordine] ([IdOrdine])
GO
ALTER TABLE [dbo].[PizzaOrdine] CHECK CONSTRAINT [Fk_PizzaOrdineO]
GO
ALTER TABLE [dbo].[PizzaOrdine]  WITH CHECK ADD  CONSTRAINT [Fk_PizzaOrdineP] FOREIGN KEY([CodPizza])
REFERENCES [dbo].[Pizza] ([CodPizza])
GO
ALTER TABLE [dbo].[PizzaOrdine] CHECK CONSTRAINT [Fk_PizzaOrdineP]
GO
ALTER TABLE [dbo].[Ingrediente]  WITH CHECK ADD  CONSTRAINT [Ck_Costo] CHECK  (([Costo]>(0)))
GO
ALTER TABLE [dbo].[Ingrediente] CHECK CONSTRAINT [Ck_Costo]
GO
ALTER TABLE [dbo].[Ingrediente]  WITH CHECK ADD  CONSTRAINT [Ck_Scorte] CHECK  (([Scorte]>=(0)))
GO
ALTER TABLE [dbo].[Ingrediente] CHECK CONSTRAINT [Ck_Scorte]
GO
ALTER TABLE [dbo].[Pizza]  WITH CHECK ADD  CONSTRAINT [Ck_Prezzo] CHECK  (([Prezzo]>(0)))
GO
ALTER TABLE [dbo].[Pizza] CHECK CONSTRAINT [Ck_Prezzo]
GO
/****** Object:  StoredProcedure [dbo].[AggiornaPrezzoPizza]    Script Date: 10/8/2021 3:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AggiornaPrezzoPizza]
@NomePizza VARCHAR(20),
@NuovoPrezzo DECIMAL(6,2)

AS
BEGIN
	BEGIN TRY
	DECLARE @CodPizza VARCHAR(10)
	SELECT @CodPizza = p.CodPizza
	FROM Pizza p
	WHERE p.Nome = @NomePizza

	UPDATE Pizza SET Prezzo = @NuovoPrezzo WHERE CodPizza = @CodPizza
	END TRY

	BEGIN CATCH
	SELECT ERROR_MESSAGE(), ERROR_LINE()
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[AggiungiIngredienteAPizza]    Script Date: 10/8/2021 3:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AggiungiIngredienteAPizza]
@NomePizza VARCHAR(20),
@NomeIngrediente VARCHAR(20)

AS
BEGIN
	BEGIN TRY
	DECLARE @CodPizza VARCHAR(10)
	SELECT @CodPizza = p.CodPizza
	FROM Pizza p
	WHERE p.Nome = @NomePizza

	DECLARE @CodIngrediente VARCHAR(10)
	SELECT @CodIngrediente = i.CodIngrediente
	FROM Ingrediente i
	WHERE i.Nome = @NomeIngrediente

	INSERT INTO Composizione VALUES (@CodPizza,@CodIngrediente)
	END TRY

	BEGIN CATCH
	SELECT ERROR_MESSAGE(), ERROR_LINE()
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[EliminaIngredientePizza]    Script Date: 10/8/2021 3:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--4)Eliminazione di un ingrediente da una pizza (parametri: nome pizza, nomeingrediente)
CREATE PROCEDURE [dbo].[EliminaIngredientePizza]
@NomePizza VARCHAR(20),
@NomeIngrediente VARCHAR(20)

AS
BEGIN
	BEGIN TRY
	DECLARE @CodPizza VARCHAR(10)
	SELECT @CodPizza = p.CodPizza
	FROM Pizza p
	WHERE p.Nome = @NomePizza

	DECLARE @CodIngrediente VARCHAR(10)
	SELECT @CodIngrediente = i.CodIngrediente
	FROM Ingrediente i
	WHERE i.Nome = @NomeIngrediente

	DELETE FROM Composizione WHERE CodPizza = @CodPizza AND CodIngrediente = @CodIngrediente
	END TRY

	BEGIN CATCH
	SELECT ERROR_MESSAGE(), ERROR_LINE()
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[IncrementoPizza]    Script Date: 10/8/2021 3:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IncrementoPizza]
@NomeIngrediente VARCHAR(20)

AS
BEGIN
	BEGIN TRY

	DECLARE @CodIngrediente VARCHAR(10)
	SELECT @CodIngrediente = i.CodIngrediente
	FROM Ingrediente i
	WHERE i.Nome = @NomeIngrediente

	DECLARE @CodPizza VARCHAR(10)
	

	UPDATE Pizza SET Prezzo = (Prezzo*10/100)+Prezzo WHERE CodPizza IN(SELECT p.CodPizza
	FROM Pizza p 
	JOIN Composizione c ON p.CodPizza = c.CodPizza
	JOIN Ingrediente i ON c.CodIngrediente = i.CodIngrediente
	WHERE i.Nome = @NomeIngrediente)
	END TRY

	BEGIN CATCH
	SELECT ERROR_MESSAGE(), ERROR_LINE()
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[InserisciPizza]    Script Date: 10/8/2021 3:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InserisciPizza]
@CodicePizza VARCHAR(10),
@NomePizza VARCHAR(20),
@PrezzoPizza DECIMAL(6,2)

AS
BEGIN
	BEGIN TRY
	INSERT INTO Pizza VALUES (@CodicePizza,@NomePizza,@PrezzoPizza)
	END TRY

	BEGIN CATCH
	SELECT ERROR_MESSAGE(), ERROR_LINE()
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[InserisciPizzaOrdineEsistente]    Script Date: 10/8/2021 3:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InserisciPizzaOrdineEsistente]
@NomePizza VARCHAR(20),
@Quantità INT,
@IdOrdine INT

AS
BEGIN
	BEGIN TRY
	DECLARE @CodPizza VARCHAR(10),@PrezzoPizza DECIMAL(6,2)
	SELECT @CodPizza = p.CodPizza, @PrezzoPizza = p.Prezzo
	FROM Pizza p
	WHERE p.Nome = @NomePizza

	


	DECLARE @Totale DECIMAL(6,2)
	SELECT @Totale = pz.SubTotale
	FROM PizzaOrdine pz
	WHERE pz.IdOrdine = @IdOrdine

	INSERT INTO PizzaOrdine VALUES (@CodPizza,@IdOrdine,@Quantità,(@Totale+(@PrezzoPizza*@Quantità)))

	UPDATE Ordine SET Totale += (@PrezzoPizza*@Quantità) WHERE IdOrdine = @IdOrdine

	END TRY

	BEGIN CATCH
	SELECT ERROR_MESSAGE(), ERROR_LINE()
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[InserisciPizzaOrdineNuovo]    Script Date: 10/8/2021 3:10:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InserisciPizzaOrdineNuovo]
@NomePizza VARCHAR(20),
@Quantità INT

AS
BEGIN
	BEGIN TRY
	DECLARE @CodPizza VARCHAR(10),@PrezzoPizza DECIMAL(6,2)
	SELECT @CodPizza = p.CodPizza, @PrezzoPizza = p.Prezzo
	FROM Pizza p
	WHERE p.Nome = @NomePizza


	INSERT INTO Ordine VALUES (@PrezzoPizza*@Quantità)

	DECLARE @IdOrdine INT
	SELECT @IdOrdine =MAX(o.IdOrdine)
	FROM Ordine o

	INSERT INTO PizzaOrdine VALUES (@CodPizza,@IdOrdine,@Quantità,@PrezzoPizza*@Quantità)
	END TRY

	BEGIN CATCH
	SELECT ERROR_MESSAGE(), ERROR_LINE()
	END CATCH
END
GO
USE [master]
GO
